[Unit]
Description="Sync Vaultwarden database (timer)"

[Timer]
OnBootSec=3min
OnUnitActiveSec=2h
Persistent=true
Unit=bitwarden-sync.service

[Install]
WantedBy=timers.target
