[Unit]
Description="Refresh Newsboat feed every 3h"

[Timer]
OnCalendar=00/4:20
Persistent=true
Unit=newsboat-reload.service

[Install]
WantedBy=timers.target
