* {
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 0;
  margin: 0px;
}

window#waybar {
  background-color: rgba(18, 18, 18, 0.85);
  color: #f2f2f4;
  animation-name: fadeIn;
  animation-duration: 1s;
}

tooltip {
  background-color: rgba(18, 18, 18, 0.85);
  border-radius: 10px;
  font-family: sans-serif;
  color: #f2f2f4;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tags {
  background: transparent;
  padding: 0px;
  margin-right: 1px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#workspaces button {
  box-shadow: inset 0 -3px transparent;
  color: #999999;
  background: transparent;
  padding: 2px 2px 2px 1px;
  font-family: sans-serif;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    color: #ebdbb2;
}

#workspaces button.active {
  color: #f2f2f4;
  padding: 2px 2px 2px 1px;
}

#workspaces button.focused {
  color: #f2f2f4;
  padding: 2px 2px 2px 1px;
}

#mode,
#backlight,
#battery,
#cpu,
#pulseaudio,
#memory,
#custom-weather,
#custom-language,
#custom-gammastep,
#network,
#temperature {
  margin: 5px 10px;
  font-size: 18px;
  font-family: monospace, Material Design Icons Desktop;
}

#clock {
  margin: 10px 10px 15px;
  font-family: SF Mono;
}

#idle_inhibitor {
  padding: 5px 10px 5px 3px;
}

#custom-menu-sway, #custom-menu-hypr {
  font-size: 22px;
  margin: 15px 10px 5px;
}

#language {
  margin: 5px 10px;
  font-family: sans-serif;
}

#custom-pacman-sway, #custom-pacman-hypr {
  padding: 5px 10px;
}

#custom-gpu {
  margin: 5px 10px;
}

#tray{
  margin: 5px 10px;
  font-size: small;
}

#tray menu {
  background-color: rgba(18, 18, 18, 0.85);
  border-radius: 10px;
  font-family: sans-serif;
  color: #f2f2f4;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

@keyframes pulse-green {
  to {
    color: #98971a;
  }
}

#battery.full {
    color: #98971a;
}

#battery.charging {
  animation-name: pulse-green;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse-red {
  to {
    color: #cf3030;
  }
}

#battery.warning:not(.charging) {
    animation-name: pulse-red;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
