* {
  border: none;
  font-weight: 500;
  border-radius: 0;
  margin: 0px;
}

window#waybar {
  background-color: rgba(26, 27, 38, 0.85);
  color: #c0caf5;
  animation-name: fadeIn;
  animation-duration: 1s;
}

tooltip {
  background-color: rgba(26, 27, 38, 0.85);
  border-radius: 10px;
  font-family: sans-serif;
  color: #c0caf5;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#tags {
  background: transparent;
  padding: 0px;
  margin-right: 1px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#workspaces button {
  box-shadow: inset 0 -3px transparent;
  color: #666c86;
  background: transparent;
  /* padding: 2px 2px 2px 1px; */
  font-family: sans-serif;
  font-size: 16px;
}

#workspaces button:hover {
  background: rgba(51, 70, 124, 0.2);
  color: #c0caf5;
}

#workspaces button.active {
  color: #c0caf5;
  /* padding: 2px 2px 2px 1px; */
}

#workspaces button.focused {
  color: #c0caf5;
  /* padding: 2px 2px 2px 1px; */
}

button:hover {
  background: rgba(51, 70, 124, 0.2);
}

#mode,
#backlight,
#cpu,
#battery,
#pulseaudio,
#memory,
#custom-weather,
#custom-language,
#custom-gammastep,
#network,
#temperature {
  font-family: SF Mono, Material Design Icons Desktop;
  font-size: 18px;
  margin: 6px 10px;
}

#clock {
  margin: 10px 10px 15px 10px;
  font-family: SF Mono;
  font-size: 16px;
}

#idle_inhibitor {
  margin: 6px 10px 6px 4px;
  font-size: 16px;
}

#custom-menu-sway, #custom-menu-hypr {
  font-size: 22px;
  margin: 15px 10px 6px 10px;
}

#language {
  font-family: sans-serif;
  font-size: 16px;
}

#custom-pacman-sway, #custom-pacman-hypr {
  margin: 8px 10px;
}

#custom-gpu {
  margin: 5px 10px;
}

#tray{
  margin: 5px 10px;
  font-size: small;
}

#tray menu {
  background-color: rgba(26, 27, 38, 0.85);
  border-radius: 10px;
  font-family: sans-serif;
  color: #c0caf5;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

@keyframes pulse-green {
  to {
    color: #9ece6a;
  }
}

#battery.charging {
  animation-name: pulse-green;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse-red {
  to {
    color: #f7768e;
  }
}

#battery.warning:not(.charging) {
    animation-name: pulse-red;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
