* {
  transition: none;  
  box-shadow: none;
 }

#waybar {
  font-family: SF Mono, monospace;
  font-size: 1em;
  font-weight: 500;
  color: #c0caf5;
  background: rgba(36, 40, 59, 0.5);
}

tooltip {
  background: rgb(36, 40, 59);
  padding: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  color: #c0caf5;
  animation-name: fadeIn;
  animation-duration: 0.5s;
}

#tags {
  background: transparent;
  padding: 0px;
  margin-right: 1px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#workspaces {
  margin: 0 5px;
}

#workspaces button {
  box-shadow: inset 0 -3px transparent;
  color: #c0caf5;
  background: transparent;
  margin: 5px 0;
  padding: 0 5px;
}

#workspaces button.active,
#workspaces button:hover {
  color: rgba(36, 40, 59, 0.7);
  background: #c0caf5;
  border-radius: 4px;
}

#workspaces button.focused {
  color: #c0caf5;
}

button:hover {
  background: rgba(51, 70, 124, 0.2);
}

.modules-center, .modules-right, .modules-left {
  margin-right: 5px;
  margin-left: 5px;
}

#mode,
#backlight,
#cpu,
#clock,
#battery,
#pulseaudio,
#wireplumber,
#memory,
#bluetooth,
#custom-weather,
#custom-language,
#custom-gammastep,
#network,
#idle_inhibitor,
#temperature {
  color: #c0caf5;
  /* margin: 5px 10px; */
  margin: 5px 0;
  padding: 0 10px;
}

#idle_inhibitor,#custom-gammastep,#bluetooth,#network,#battery {
  background: #c0caf5;
  color: rgba(36, 40, 59, 0.7);
}
#idle_inhibitor {
  border-radius: 5px 0 0 5px;
}
#bluetooth {
  border-radius: 0 5px 5px 0;
}

#bluetooth.connected {
  color: #7aa2f7;
}

#temperature {
  margin-right: 18px;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

#tray {
  margin: 5px;
  padding: 0 5px;
  border-radius: 5px;
  background: #c0caf5;
}

#tray menu {
  background-color: rgb(26, 27, 38);
  padding: 6px;
  border-radius: 10px;
  font-family: sans-serif;
  color: #c0caf5;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

@keyframes pulse-green {
  to {
    color: #9ece6a;
  }
}

#battery.charging {
  animation-name: pulse-green;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes pulse-red {
  to {
    color: #f7768e;
  }
}

#battery.warning:not(.charging) {
    animation-name: pulse-red;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
