/* COLORS */

* {
  background:             #24283B;
  background-transparent: #24283BBB; 
  background-alt:         #C0CAF5FF;
  foreground:             #C0CAF5FF;
  foreground-alt:         #1A1B26FF;
  selected:               #BB9AF7FF;	
  selected-pw:            #F7768EBB;
}

