window {
  margin: 2px;
  border: 2px solid #98971a;
  border-radius: 4px;
  background-color: #121212;
}

#input {
  border: none;
  color: #f8f8f2;
  background-color: #121212;
}

#inner-box {
  display: none;
  margin: 5px;
  border: 0px solid;
  background-color: #121212;
}

#outer-box {
  margin: 5px;
  border: none;
  border-radius: 8px;
  background-color: #121212;
}

#scroll {
  margin: 0px;
  border: none;
}

#text {
  margin: 5px;
  border: none;
  color: #f8f8f2;
} 

#text:selected {
  margin: 5px;
  border: none;
  border-radius: 8px;
  color: #98971a;
  background-color: transparent;
  outline: none;
} 

#entry {
  border: none;
}

#entry:focus {
  border: none;
}

#entry:selected {
  border: none;
  border-radius: 8px;
  background-color: #121212;
}

