set default-bg                  "#24283b"
set default-fg                  "#c0caf5"

set statusbar-bg                "#bb9af7"
set statusbar-fg                "#24283b"

set inputbar-bg                 "#bb9af7"
set inputbar-fg                 "#24283b"

set notification-bg             "#bb9af7"
set notification-fg             "#24283b"

set notification-error-bg       "#ecc46f"
set notification-error-fg       "#333b47"

set notification-warning-bg     "#f05656"
set notification-warning-fg     "#333b47"

set highlight-color             "#bb9af7"
set highlight-active-color      "#bb9af7"

set completion-bg               "#24283b"
set completion-fg               "#c0caf5"

set completion-highlight-bg     "#bb9af7"
set completion-highlight-fg     "#c0caf5"

set index-bg                    "#24283b"
set index-fg                    "#c0caf5"
set index-active-fg             "#24283b"
set index-active-bg             "#bb9af7"

set recolor-lightcolor          "#24283b"

set recolor-darkcolor           "#c0caf5"
