set default-bg                  "#121212"
set default-fg                  "#f2f2f4"

set statusbar-fg                "#d2d2d4"
set statusbar-bg                "#fe8019"

set inputbar-bg                 "#fe8019"
set inputbar-fg                 "#d2d2d4"

set notification-bg             "#d2d2d4"
set notification-fg             "#262626"

set notification-error-bg       "#ecc46f"
set notification-error-fg       "#333b47"

set notification-warning-bg     "#f05656"
set notification-warning-fg     "#333b47"

set highlight-color             "#fe8019"
set highlight-active-color      "#424a56"

set completion-bg               "#424a56"
set completion-fg               "#ff6386"

set completion-highlight-fg     "#71c6ff"
set completion-highlight-bg     "#424a56"

set recolor-lightcolor          "#121212"
set recolor-darkcolor           "#e2e2e4"
