[Desktop Entry]
Type=Application
Name=lf
GenericName=File Manager
Comment=Terminal File Manager
Exec=/usr/bin/footclient -T lf lf %U
Terminal=false
Icon=lf
MimeType=inode/directory
Categories=System;FileTools;FileManager;ConsoleOnly
Keywords=File;Manager;Management;Explorer;Launcher
