[Desktop Entry]
Type=Application
Name=lf
GenericName=File Manager
Comment=Terminal File Manager
Exec=/usr/bin/footclient -T lf lf %U
Terminal=false
Icon=system-file-manager
MimeType=inode/directory
Categories=GNOME;GTK;Utility;Core;
Keywords=folders;filesystem;explorer;
