[Desktop Entry]
Name=Qutebrowser
GenericName=Browser
Comment=Vim-style browser
Exec=/usr/bin/qutebrowser %F
Terminal=false
Type=Application
Keywords=Browser
Icon=qutebrowser
Categories=Utility;Browser;Internet;
StartupNotify=false
MimeType=text/html;text/xml;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;
